
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #title {
        background: #8FBC8B;
    }
</style>

<div id="title" class="jumbotron">
    <h1><b>Rumah Sakit TrackingVaccine</b></h1><hr />
</div>

<div class="row">
    <div class="col-md-8">
        <p style="text-align:justify; font-size:17px;">
            <h2>Daftar Rumah Sakit Lengkap - Halodoc</h2>
        <p><a class="btn btn-default" href="https://www.halodoc.com/rumah-sakit/poliklinik/vaksinasi-covid-19">Read More &raquo;</a></p>
        </p>
        <br />
        <p style="text-align:justify; font-size:17px;">
            <h2>Laporan Penggunaan Vaksin - TrackingVaccine.com</h2>
        </p>
        <p><button class="btn btn-default">@Html.ActionLink("Lapor Penggunaan", "Index", "RS") &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/rumahsakit.jpg" style="float:right; height:300px; width:500px;" alt="" class="img-responsive">
    </div>
</div>
<br />
<br />
