@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<style>
    #title {
        background: linear-gradient(#D3CCE3, #E9E4F0)
    }
</style>

<div id="title" class="jumbotron">
    <h1><b>Badan Pengawas Obat dan Makanan</b></h1><hr />
</div>

<div class="row">
    <div class="col-md-8">
        <p style="text-align:justify; font-size:17px;">
            Badan Pengawas Obat dan Makanan atau disingkat Badan POM adalah sebuah lembaga di Indonesia yang bertugas
            mengawasi peredaran obat-obatan dan makanan di Indonesia. BPOM berada di bawah dan bertanggung jawab kepada
            Presiden melalui menteri yang menyelenggarakan urusan pemerintahan di bidang kesehatan.
        </p>
        <br />
        <p style="text-align:justify; font-size:17px;">
            BPOM mempunyai tugas menyelenggarakan tugas pemerintahan di bidang pengawasan Obat dan Makanan sesuai dengan ketentuan peraturan perundang-undangan. Obat dan Makanan terdiri atas obat, bahan obat, narkotika, psikotropika,
            prekursor, zat adiktif, obat tradisional, suplemen kesehatan, kosmetik, dan pangan olahan.
            <br /><br />Dalam melaksanakan tugas pengawasan Obat dan Makanan sesuai dengan Perpres Nomor 80 Tahun 2017, BPOM menyelenggarakan fungsi:<br />
            1. Penyusunan kebijakan nasional di bidang pengawasan Obat dan Makanan;<br />
            2. Pelaksanaan kebijakan nasional di bidang pengawasan Obat dan Makanan;<br />
            3. Penyusunan dan penetapan norma, standar, prosedur, dan kriteria di bidang Pengawasan Sebelum Beredar dan Pengawasan Selama Beredar;<br />
            4. Pelaksanaan Pengawasan Sebelum Beredar dan Pengawasan Selama Beredar;<br />
            5. Koordinasi pelaksanaan pengawasan Obat dan Makanan dengan instansi pemerintah pusat dan daerah;<br />
            6. Pemberian bimbingan teknis dan supervisi di bidang pengawasan Obat dan Makanan;<br /><br />
        </p>
        <p><a class="btn btn-default" href="https://www.pom.go.id/new/">Read More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/images/bpom.jpg" style="float:right; height:300px; width:500px;" alt="" class="img-responsive">
    </div>
</div>
<br /><br />

<div class="row">
    <div class="col-md-12">
        <center>
            <div class="col-md-6">
                <center>
                    <div>
                        <img src="~/images/corona.png" style="height:350px; width:450px;" alt="" class="img-responsive">
                    </div>
                </center>
            </div>

            <div class="col-md-6">
                <center>
                    <div>
                        <img src="~/images/vaksin.jpg" style="height:350px; width:450px;" alt="" class="img-responsive">
                    </div>
                </center>
            </div>
        </center>
    </div>
</div>
